@use '@src/constants/global.scss' as global;

.btn {
  font-size: global.$fontSizeCaptionSmall;
  font-weight: 500;
  padding: global.$extraSmallPadding global.$smallPadding;
  background-color: global.$buttonPrimaryBackgroundColor;
  border-radius: global.$smallBorderRadius;
  color: global.$primaryColor;
  transition: 400ms all;
}

@media (hover:hover) {
  .btn:hover {
    color: global.$primaryColor;
    background-color: global.$buttonPrimaryActiveBackgroundColor;
  }
}